{% extends 'zenjottapp/layout.html' %}

{% block title %}Create Comment {% endblock %}

{% block status %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}" style="font-weight: 600;">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="{% url 'journal' %}" style="font-weight: 600;">Journal</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'moodtracker' %}" style="font-weight: 600;">Mood Tracker</a>
    </li>
{% endblock %}

{% block body %}
    <main>
        <div class="journal--header">
            <h2 style="font-weight: bold;">Write a Comment</h2>
        </div>
        <div class="post">
            <div class="post--header" style="font-weight: bold;">
                <span>@{{ post.user }}</span>
            </div>
            <div class="post--content">
                <div>
                    {{ post.content }}  <strong>#zenjott</strong>
                </div>
                <div style="color: #777; margin: auto 0 auto 10px;">
                    {{ post.time }}
                </div>
            </div>
            <div class="post--footer" style="display: flex;">
                <div>{{ post.comment_set.count }} <i class="fa fa-comments-o" style="font-size:20px"></i></i></div>
            </div>
        </div>
        <div>
            <form action="{% url 'comment' post.id %}" class="add--post--form" method="post">
                {% csrf_token %}
                <textarea class="form-control me-2 search--box" id="content" name="content" required placeholder="Please be nice" autofocus="on" aria-label="text" autocomplete="off" style="font-style: italic;"></textarea>
                <button>Send</button>
            </form>
        </div>
        <div class="posts--container">
            {% if comments %}
            {% for comment in comments %}
            <div class="comment">
                <div class="post--header" style="font-weight: bold;">
                    <span>@{{ comment.user }}</span>
                </div>
                <div class="post--content">
                    <div>
                        {{ comment.content }}
                    </div>
                </div>
                <div class="post--footer" style="display: flex; justify-content: space-between;">
                    <div style="color: #777; margin: auto 0 auto 10px;">
                        {{ comment.time }}
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p style="text-align: center; font-style: italic; margin-top: 40px;">No comments yet...</p>
            {% endif %}
        </div>
    </main>
{% endblock %}